

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
}
/* #root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

 body,html
 {
  width: 100% !important;
  height: 100% !important;
 }
.home
{
  width: 100% !important;
  height: 900px !important;
}

.outlet
{
  
  margin-top: 100px !important;
  margin-bottom: 100px !important;
  width: 100% !important;
  height: 100% !important;
  /* background-color: #F7B138 !important; */
}
.navbar
{
  background-color: #100F1F !important;
  width: 100% !important;
}

.nav-link
{
  color: #FFFFFF !important;
  /* transition: 0.5s; */
  font-family: 'DM Sans', sans-serif;
  font-size: 18px !important;
}
.nav-item a:hover
{
  opacity: 0.7 !important;
}

.navbarContainer
{
  width: 90% !important;
  display: flex !important;
  justify-content:space-between !important;
  /* background-color: aqua; */

}
.navbar-brand img
{
  height: 100px !important;
  width: 100px !important;
}
.navbarItems
{
  display: flex !important;
  align-items: center !important;
}
#register
{
  background-color: #F7B138 !important;
  color: #10092C !important;
  border-radius: 50px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.fIcon
{
  background-color: blueviolet;
  margin-left: 10px ;
  background-color: #202327;
  color:#FFFFFF;
  padding: 20px;
  border-radius: 100%;
  transition: 0.5s;
}
.fIcon:hover
{
  color:#202327 !important ;
  background-color: #FFFFFF !important;
}

.footer
{
 
  background-color: #17122B;
  padding: 50px !important;
  font-family: 'Montserrat', sans-serif;
  margin-top: 500px !important;
  position: sticky;
  
}
.footerRow
{
   display: flex !important;
   justify-content: center !important;
   color: #FFFFFF;
}
.line
{
  color: #3E3E3E;
  
}
.lead
{
  opacity: 0.7;
}
.lead:hover
{
  cursor: pointer !important;
}

.registerBtn
{
  width: 100%;
  background-color: #150D30;
  color: #FFFFFF;
  padding-top: 10px ;
  padding-bottom: 10px;
  border-radius: 50px;
  border: none !important;
}
.formLoginBtn
{
  text-decoration: none;
  color:#150D30 ;
}










